<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.flik1337.vision.mbg.mapper.FilmScheduleMapper">
  <resultMap id="BaseResultMap" type="cn.flik1337.vision.mbg.model.FilmSchedule">
    <id column="film_schedule_id" jdbcType="INTEGER" property="filmScheduleId" />
    <result column="film_id" jdbcType="INTEGER" property="filmId" />
    <result column="hall_id" jdbcType="INTEGER" property="hallId" />
    <result column="schedule_date" jdbcType="DATE" property="scheduleDate" />
    <result column="schedule_time" jdbcType="TIME" property="scheduleTime" />
    <result column="price" jdbcType="INTEGER" property="price" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    film_schedule_id, film_id, hall_id, schedule_date, schedule_time, price
  </sql>
  <select id="selectByExample" parameterType="cn.flik1337.vision.mbg.model.FilmScheduleExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from film_schedule
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from film_schedule
    where film_schedule_id = #{filmScheduleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from film_schedule
    where film_schedule_id = #{filmScheduleId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.flik1337.vision.mbg.model.FilmScheduleExample">
    delete from film_schedule
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.flik1337.vision.mbg.model.FilmSchedule">
    <selectKey keyProperty="filmScheduleId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into film_schedule (film_id, hall_id, schedule_date, 
      schedule_time, price)
    values (#{filmId,jdbcType=INTEGER}, #{hallId,jdbcType=INTEGER}, #{scheduleDate,jdbcType=DATE}, 
      #{scheduleTime,jdbcType=TIME}, #{price,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.flik1337.vision.mbg.model.FilmSchedule">
    <selectKey keyProperty="filmScheduleId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into film_schedule
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="filmId != null">
        film_id,
      </if>
      <if test="hallId != null">
        hall_id,
      </if>
      <if test="scheduleDate != null">
        schedule_date,
      </if>
      <if test="scheduleTime != null">
        schedule_time,
      </if>
      <if test="price != null">
        price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="filmId != null">
        #{filmId,jdbcType=INTEGER},
      </if>
      <if test="hallId != null">
        #{hallId,jdbcType=INTEGER},
      </if>
      <if test="scheduleDate != null">
        #{scheduleDate,jdbcType=DATE},
      </if>
      <if test="scheduleTime != null">
        #{scheduleTime,jdbcType=TIME},
      </if>
      <if test="price != null">
        #{price,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.flik1337.vision.mbg.model.FilmScheduleExample" resultType="java.lang.Long">
    select count(*) from film_schedule
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update film_schedule
    <set>
      <if test="record.filmScheduleId != null">
        film_schedule_id = #{record.filmScheduleId,jdbcType=INTEGER},
      </if>
      <if test="record.filmId != null">
        film_id = #{record.filmId,jdbcType=INTEGER},
      </if>
      <if test="record.hallId != null">
        hall_id = #{record.hallId,jdbcType=INTEGER},
      </if>
      <if test="record.scheduleDate != null">
        schedule_date = #{record.scheduleDate,jdbcType=DATE},
      </if>
      <if test="record.scheduleTime != null">
        schedule_time = #{record.scheduleTime,jdbcType=TIME},
      </if>
      <if test="record.price != null">
        price = #{record.price,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update film_schedule
    set film_schedule_id = #{record.filmScheduleId,jdbcType=INTEGER},
      film_id = #{record.filmId,jdbcType=INTEGER},
      hall_id = #{record.hallId,jdbcType=INTEGER},
      schedule_date = #{record.scheduleDate,jdbcType=DATE},
      schedule_time = #{record.scheduleTime,jdbcType=TIME},
      price = #{record.price,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.flik1337.vision.mbg.model.FilmSchedule">
    update film_schedule
    <set>
      <if test="filmId != null">
        film_id = #{filmId,jdbcType=INTEGER},
      </if>
      <if test="hallId != null">
        hall_id = #{hallId,jdbcType=INTEGER},
      </if>
      <if test="scheduleDate != null">
        schedule_date = #{scheduleDate,jdbcType=DATE},
      </if>
      <if test="scheduleTime != null">
        schedule_time = #{scheduleTime,jdbcType=TIME},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=INTEGER},
      </if>
    </set>
    where film_schedule_id = #{filmScheduleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.flik1337.vision.mbg.model.FilmSchedule">
    update film_schedule
    set film_id = #{filmId,jdbcType=INTEGER},
      hall_id = #{hallId,jdbcType=INTEGER},
      schedule_date = #{scheduleDate,jdbcType=DATE},
      schedule_time = #{scheduleTime,jdbcType=TIME},
      price = #{price,jdbcType=INTEGER}
    where film_schedule_id = #{filmScheduleId,jdbcType=INTEGER}
  </update>
</mapper>